<section class="mb-3 bg-warning-subtle rounded" id="pending-section">
  <div class="p-3 gap-2" id="pending-todos">
    <h2>Pending Todos</h2>
    <app-search-pending-todos />
    <select name="sort-option" id="sort-option" class="rounded mb-3">
      <option value="date-asc">date (oldest to newest)</option>
      <option value="date-desc">date (newest to oldest)</option>
      <option value="priority-asc">priority (low to high)</option>
      <option value="priority-desc">priority (high to low)</option>
    </select>
    @for (todo of todos(); track todo.id) {
    <app-todo [todo]="todo" />
    }
  </div>
</section>
